.app-root {
	background-color: #ece9e1;
}

@media only screen and (min-width: 768px) {
	.app-root {
		box-sizing: border-box;
		max-width: 850px;
		min-width: 835px;
		max-height: 1260px;
		padding: 20px;
		background-color: #fff;
		z-index: 1;
		box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
		outline: 1px solid black;
		border-radius: 30px;
		display: grid;
		grid-template-columns: 320px 1fr;
		grid-template-areas:
			"intro experiences"
			"contact experiences"
			"courses skills"
			"education tools";
	}

	.app-root .background__wrapper {
		display: block;
		position: absolute;
		border-radius: 30px;
		width: 320px;
		height: 1220px;
		background: rgb(115, 134, 255);
		background: linear-gradient(
			180deg,
			rgb(157, 168, 253) 0%,
			rgba(111, 0, 255, 1) 100%
		);
		z-index: 5;
	}

	.intro,
	.contact,
	.courses,
	.experience,
	.skills,
	.tools,
	.education {
		z-index: 10;
	}

	.intro {
		grid-area: intro;
	}

	.contact {
		grid-area: contact;
	}

	.courses {
		grid-area: courses;
	}

	.experiences {
		grid-area: experiences;
	}

	.skills {
		grid-area: skills;
	}

	.tools {
		grid-area: tools;
	}

	.education {
		grid-area: education;
	}
}
